html {
  width: 100%;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

header img {
  width: 100px;
}

#top {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  padding: 5px;
  color: rgb(105, 104, 104);
}

/* header */

/* main */

button {
  background-color: white;
  width: 100px;
  padding: 10px;
  border-radius: 40px;
  border: 2px solid orange;
}

h5 {
  color: rgb(243, 64, 64);
}

.pirma {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.antra {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(assets/background.svg);
  background-size: cover;
  height: 250px;
}

section {
  padding: 30px;
}

.pirma img {
  float: right;
  max-width: 75%;
  object-fit: scale-down;
}

.trecia img {
  width: 125px;
  padding: 10px 0;
}

.trecia div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.penkta {
  display: flex;
  flex-direction: column;
}

.card {
  padding: 5px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(223, 223, 223);
  border-radius: 25px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.sesta img {
  width: 120px;
}

.sesta {
  height: 400px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
